In [3]:
#QUENTIN_GROSHENS_2017#

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [ ]:
#first_exercice: counting lines#

In [45]:
def number_lines(filename,N_chunk=10000):
    chunks=pd.read_csv(filename,sep='^',chunksize=N_chunk) #cutting file in chuncks to stay in memory
    n_lines=0
    for chunk in chunks:
        n_lines=n_lines+chunk.shape[0]
    return n_lines

In [22]:
number_lines("searches.csv")

20390198

In [46]:
number_lines("bookings.csv")

10000010

In [ ]:
#second_exercice: top arrival airports#

In [ ]:
#test with 10 bookings#

In [58]:
booking_df=pd.read_csv("bookings.csv",sep='^',nrows=10)

In [59]:
arr_df=booking_df[['arr_port','pax']]

In [60]:
arr_count=arr_df.groupby('arr_port').aggregate(sum)

In [61]:
arr_count.sort_values(by='pax',ascending=False )

          pax
arr_port
SIN         6
CLT         2
LGA         2
SVO         2
LHR        -1

In [ ]:
#test with 2 small chunk#

In [131]:
chunks=pd.read_csv("bookings.csv",sep='^',chunksize=10,nrows=20) #cutting file in chuncks to stay in memory

In [96]:
chunks

In [125]:
arr_count=pd.DataFrame()

In [132]:
for chunk in chunks:
    local_arr_count=chunk[['arr_port','pax']].groupby('arr_port').aggregate(sum)
    arr_count=arr_count.add(local_arr_count,fill_value=0).astype(int)

In [133]:
arr_count[:10]

          pax
arr_port
CLT         6
LGA         6
LHR        -3
SIN        12
SVO         6
TUS         3